page-client-register {
ion-title{
    background-color: #D92020;
    height: 64px;
    width: 395px;
}
.clientRegister{
    border-color: #D92020;
    border-left: 0px;
    border-top: 0px;
    border-right:0px;
    width: 322.02px;
    padding: 28px;
}
#nameBut{
    margin-top: 75px;
}
#nextButt{
margin-top: 100px;
width: 237px;
height:70px;
font-size: 32px;
}
}
