page-main {
    background-color: black;
}

ion-content{
    color: black;
} 

h1{
    color: black;
}

#LOGO1{
    margin-top:130px;
    font-size: 48px;
}

.Buttons21{
    height:61px;
    width:210px;
    font-size: 48px;
}

#Or1{
    font-size: 48px;
}

