page-main {
   
}

ion-content{
  
} 

h1{
    color: black;
}

#LOGO1{
    margin-top:130px;
    font-size: 48px;
}

.Buttons21{
    height:61px;
    width:210px;
    font-size: 48px;
}

#Or1{
    font-size: 48px;
}

#customerBut{
    height: 49.5px;
    width: 183px;
    font-size: 36px;
    border: 3px solid white;
    background-color:#D92020;
    color:white;
    margin-top: 20px;
    border-radius:20px;
    border-style: solid; 
    border-color: white white white white;
}
#signBut{
    height: 35px;
    width: 63px;
}

