<ion-header>
  <ion-navbar>
    <ion-title>
    {{currentBanda.name}} Availability
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <h1>{{currentBanda.name}}</h1>
    <h1>{{currentBanda.price}}/hr</h1>
  </div>
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2><ion-icon (click)="goToLastMonth()" name="arrow-back"></ion-icon></ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2><ion-icon  name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
          <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
          <ng-template #otherDate class="otherDate">
            {{day}}<br>
            <div class="event-bullet" *ngIf="checkEvent(day)"></div>
          </ng-template>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="selected-event" *ngIf="isSelected">
    <ion-list>
      <ion-item *ngFor="let se of selectedEvent">
        <h2>{{se.title}}</h2>
        <h3>{{se.message}}</h3>
      </ion-item>
    </ion-list>
  </div>
   <div align="center">
      <a id=callBut [attr.href]="currentBanda.phone" >Contact Band</a>
    </div>
</ion-content>